:root {
  --menu-width: 200px;
  --menu-height: 50px;

  --menu-btn-bottom: 10px;
  --menu-btn-left: 10px;
  --menu-btn-width: 110px;
}

.background-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;

  z-index: -1;
}

.menu-wrapper {
  display: none;

  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.menu-wrapper.show {
  display: flex;
}

.menu {
  display: flex;

  box-sizing: border-box;

  background-color: rgb(222, 225, 230);

  padding: 30px;
  border-radius: 20px;
}

.menu-wrapper .default-img {
}

.default-img .img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  padding: 15px;
}

.default-img .img-wrapper:hover {
  background-color: rgb(184, 184, 187);
  cursor: pointer;
}

.default-img img {
  width: 400px;
  height: 200px;
  border-radius: 7px;
}

.menu .input-wrapper {
  height: 25px;
  padding: 15px;
}

.menu-btn {
  position: absolute;
  bottom: var(--menu-btn-bottom);
  left: var(--menu-btn-left);

  padding: 10px;
  font-size: 15px;
  font-weight: 500;

  cursor: pointer;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu-btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}
