* {
  padding: 0;
  margin: 0;

  user-select: none;
  -webkit-user-select: none;
}

a:link {
  cursor: auto;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background-size: 100vw 110vh;
  width: 100%;
  height: 100%;
}

canvas {
  width: 100%;
  height: 100%;
  position: fixed;
}

button:active {
  outline: none;
}

:root {
  --grid-item-width: 4.688rem;
  --grid-item-height: 5rem;
}

.app {
  display: grid;
  grid-template-columns: repeat(20, var(--grid-item-width));
  grid-template-rows: repeat(9, var(--grid-item-height));
}

.options {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.904);
  display: none;

  color: black;
  text-shadow: none;

  z-index: 1;

  outline: 2px solid rgb(255, 255, 255); /* 흰색 아웃라인 */

  border-radius: 0.313rem;
  padding-top: 0.188rem;
  padding-bottom: 0.188rem;
}

.options * {
  width: 6.25rem;
  height: 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.options img {
  width: 1rem;
  height: 1rem;
}

.options > *:hover {
  background-color: rgba(190, 196, 209, 1);
  cursor: pointer;
}

.options .edit img {
  position: relative;
  left: 0.063rem;
}

.node {
  width: var(--grid-item-width);
  position: relative;

  border-radius: 12%;
}

.app .node {
  color: white;
  text-shadow: black 0.063rem 0 0.125rem;
}

.app > div {
  border-radius: 12%;
}

.app > div.hover {
  background-color: rgba(255, 255, 255, 0.226);
}

.node.selected {
  background-color: rgba(255, 255, 255, 0.3); /* hover와 동일한 색상 */
  outline: 1px solid rgba(255, 255, 255, 0.6); /* 흰색 아웃라인 */
  outline-offset: -2px; /* 아웃라인이 요소 안쪽으로 약간 들어오게 설정 */
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.6); /* 외부 빛나는 효과 */
}

.app .node:hover {
  background-color: rgba(255, 255, 255, 0.144); /* hover와 동일한 색상 */
  outline: 1px solid rgba(255, 255, 255, 0.6); /* 흰색 아웃라인 */
  outline-offset: -2px; /* 아웃라인이 요소 안쪽으로 약간 들어오게 설정 */
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.342); /* 외부 빛나는 효과 */
}

.app .node:active {
  background-color: rgba(255, 255, 255, 0.08);
}

.node .drag-area {
  width: 100%;
  height: 100%;
  position: absolute;
}

.node .text {
  overflow: hidden;
  width: var(--grid-item-width);
  max-height: 2.063rem;
  text-align: center;
  word-break: keep-all;

  margin-bottom: 0.25rem;
  font-size: 0.781rem;
}

.node .text.edit {
  max-height: 100%;
}

.node:hover .text {
  max-height: 3.2rem;
}

.file {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-decoration: none;
}

.file .file-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  position: relative;
}

.file img {
  margin-top: 0.625rem;
  margin-bottom: 0.438rem;
  width: 1.5rem;
}

.folder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.folder img {
  margin-top: 0.313rem;
  margin-bottom: 0.313rem;
  width: 1.875rem;
}

rect-dragger {
  position: absolute;
  border: 2px solid rgba(255, 140, 0, 0.8);
  background: linear-gradient(
    135deg,
    rgba(255, 165, 0, 0.2),
    rgba(255, 140, 0, 0.1)
  );
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* 부드러운 그림자 */
  border-radius: 6px; /* 둥근 테두리 */
  pointer-events: none; /* 선택 불가능하게 설정 */
  transition: box-shadow 0.2s ease, opacity 0.3s ease; /* 부드러운 애니메이션 */
}
