* {
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background-size: 100vw 110vh;
  width: 100%;
  height: 100%;
}

canvas {
  width: 100%;
  height: 100%;
  position: fixed;
}

button:active {
  outline: none;
}

:root {
  --grid-item-width: 75px;
  --grid-item-height: 80px;

  --color-hover: rgba(190, 196, 209, 1);
}

.app {
  display: grid;
  grid-template-columns: repeat(20, var(--grid-item-width));
  grid-template-rows: repeat(9, var(--grid-item-height));
}

.options {
  position: fixed;
  background-color: white;
  display: none;

  color: black;
  text-shadow: none;

  z-index: 1;

  border-radius: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.options * {
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  /* border-radius: 10px; */
}

.options > *:hover {
  background-color: var(--color-hover);
  cursor: pointer;
}

.folder-manager-wrapper {
  display: none;
  position: fixed;

  padding-top: 5px;
  padding-bottom: 30px;
  background-color: rgba(240, 242, 245, 1);
  border-radius: 10px;

  top: calc(100vh - 400px - 42px);
}

.folder-manager-wrapper.show {
  display: block;
}

.folder-manager-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  bottom: 2px;
  right: 3.5px;
  color: black;
}

.folder-manager-header .folder-title {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 15px;
  margin-right: 5px;
}

.folder-manager-header .folder-close {
  position: relative;

  width: 30px;
  height: 30px;
  font-size: 20px;

  text-align: center;
  line-height: 24.8px;
  border-radius: 7px;
}

.folder-manager-header .folder-close:hover {
  background-color: rgba(210, 216, 229, 1);
  cursor: pointer;
}

.folder-manager .back-btn {
  font-size: 36px;
  text-align: center;
  line-height: 72px;

  /* font-weight: bold; */
}

.folder-manager .back-btn.backable:hover {
  background-color: var(--color-hover);
  cursor: pointer;
}

.folder-manager {
  height: 400px;

  display: grid;
  grid-template-columns: repeat(5, var(--grid-item-width));
  grid-template-rows: repeat(8, var(--grid-item-height));
  grid-gap: 2px;

  background-color: rgba(210, 216, 229, 1);

  overflow-y: scroll;

  position: relative;
}

.folder-manager::-webkit-scrollbar {
  width: 10px;
}

.folder-manager::-webkit-scrollbar-thumb {
  margin-top: 100px;
  background-color: rgba(150, 156, 169, 1);
  border-radius: 3px;
}

.node {
  width: var(--grid-item-width);
  max-height: var(--grid-item-height);

  position: relative;

  font-size: 12.5px;
  cursor: pointer;
}

.app .node {
  color: white;
  text-shadow: black 1px 0 2px;
}

.app .node:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.folder-manager .node {
  color: black;
  text-shadow: none;
}

.folder-manager .node:hover {
  background-color: var(--color-hover);
}

.node .drag-area {
  width: 100%;
  height: 100%;
  position: absolute;
}

.node .text {
  overflow: hidden;
  width: var(--grid-item-width);
  max-height: 35px;
  text-align: center;
  word-break: keep-all;

  margin-bottom: 4px;
}

.file {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  text-decoration: none;
}

.file .file-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;
  position: relative;
}

.file img {
  margin-top: 10px;
  margin-bottom: 7px;
  width: 24px;
}

.folder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.folder img {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 30px;
}
